*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(152, 150, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    margin: 50px 20px;
    border: 1px solid black;
    border-collapse: collapse;
    background: white;
}
th,td{
    border: 1px solid black;
    text-align: center;
}
thead{
    background: rgb(222, 192, 192);
}